


body
{
	background: url(img/backgroundstore.jpg) ;
    background-color: transparent;  
    background-size: cover;		
    color:rgb(200, 197, 214);
    font: 1em calibri, arial;
}
h1, h2, h3, h4
{
	text-align: center;
}

header
{
	background-color:rgb(40, 13, 194);
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
	height: 80px;
	border: 1px solid rgb(24, 17, 117);
	border-radius: 15px;
	top:0;
	position: fixed;
	z-index: 100;
	width: 100%;
	font: italic small-caps bold 20px Georgia, sans-serif;
	
   
}


	

       
        
      
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lavender;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
}
li{
	
	display: inline;
}

li a{
	display:block;
	color:rgb(74, 82, 192);
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	background-color: lavender;
	display: inline-block;
}
li a:hover:not(.active){
	background-color:rgb(216, 229, 230);
}
li .active{
	color: rgb(255, 255, 255);
	background-color: #283775;
}    
footer
	{
		text-align:right; /*right */
		margin-right: 10px;
		color:rgb(184, 184, 196)
		
	 }

li .tran{
	transition-duration: 3s;
	opacity: 0.1;
	
	
}
#container2{
	top:260px;
	
}
  

iframe
{
	height:800px;
	 width:100%; 
}

li .op
{
	display:block;
	color:rgb(74, 82, 192);
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	background-color: lavender;
	display: inline-block;
}

.tran:hover{
	opacity: 1;
}