
body
{
	background: url(img/background.jpg) ;
    background-color: transparent;  
    background-size: cover;		
    color:rgb(87, 139, 163);
    font: 1em calibri, arial;
}

.first
{
    text-align: center;
}


.cursor {
    cursor: pointer;
  }

  .demo {
    opacity: 1;
    width: 50px;
    height: 80px;
    
  }

  .miniat {
    float: right;
   /* width:25%;*/
    border-radius: 15px;
    padding: 5px;
    opacity: 1;
  }

 
  .demo:hover
  {
  margin-left: 5px;
  opacity: 0.5;
  }
 
  .right:after {
    content: "";
    display: table;
    clear: both;
  }


  nav /*style for aside*/
  {
     margin-top:15px; 
     border-radius: 15px;
     padding: 15px;
     vertical-align: top;
     float:right; /*right position*/
    /** right:0;*/

  }

  .container
	{
		
        border: 1px solid rgba(50%, 50%, 50%, 0.5);
		border-radius: 10px;
		box-shadow:	6px 6px 30px rgba(55, 55, 55, .6);
		font-size: 1.5em;
        margin: 1vh auto;
        padding: 1vh 5vh 1vh;
		text-align: center;
        width: 400px;
        height: 700px;
        position: relative;
        box-shadow: 5px 10px #888888;
        display: block;

    }




    .big-continer
    {
        
        
        border: 1px solid rgba(50%, 50%, 50%, 0.5);
		border-radius: 10px;
		box-shadow:	6px 6px 30px rgba(55, 55, 55, .6);
		font-size: 1.5em;
        margin: 1vh auto;
		
        padding: 1vh 5vh 1vh;
		text-align: center;
        width: 1000px;
        height: 1000px;
      

    }


/*
    .home{
        width: 400px;
        height: 800px;
    }
*/
 


  .text
  {
    
    position: absolute;
    
      color: white;
      width: 100px;
      height: 300px;
      
      text-align: center;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: 10;
      left: 30%;

  }
  .home:hover{
    filter: brightness(200%)
}
  .text:hover  {
      opacity: 1;
      
  }

.home
{
    
    z-index: 1;
}







