

/*.container
{
    width: 500px;
    height: 700px;  
    overflow:hidden;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}
/*
.img
{
   /* object-fit: cover;*/
 /*width:200px;
 height: 400px;
 width: 100%;

}
*/

body
{
	background: url(img/background.jpg) ;
    background-color: transparent;  
    background-size: cover;		
    color:rgb(87, 139, 163);
    font: 1em calibri, arial;
}

.first
{
    text-align: center;
}

/*
.cursor {
    cursor: pointer;
  }
*/
  .demo {
    opacity: 1;
    width: 50px;
    height: 80px;
    
  }

  .miniat {
    float: right;
   /* width:25%;*/
    border-radius: 15px;
    padding: 5px;
    opacity: 1;
  }

 
  .demo:hover
  {
  margin-left: 5px;
  opacity: 0.5;
  }
 
  .right:after {
    content: "";
    display: table;
    clear: both;
  }


  nav /*style for aside*/
  {
     margin-top:15px; 
     border-radius: 15px;
     padding: 15px;
     vertical-align: top;
     float:right; /*right position*/
    /** right:0;*/

  }

  .continer
	{
		
        border: 1px solid rgba(50%, 50%, 50%, 0.5);
		border-radius: 10px;
		box-shadow:	6px 6px 30px rgba(55, 55, 55, .6);
		font-size: 1.5em;
        margin: 1vh auto;
        padding: 1vh 5vh 1vh;
		text-align: center;
        width: 400px;
        height: 700px;
        /*opacity:0.1;*/
        position: relative;
        box-shadow: 5px 10px #888888;
        display: block;

    }

/*
    .container:hover:not(.active){
        filter: brightness(200%);
    }
    */


    .big-continer
    {
        
        
        border: 1px solid rgba(50%, 50%, 50%, 0.5);
		border-radius: 10px;
		box-shadow:	6px 6px 30px rgba(55, 55, 55, .6);
		font-size: 1.5em;
        margin: 1vh auto;
		
        padding: 1vh 5vh 1vh;
		text-align: center;
        width: 1000px;
        height: 1000px;
       /* opacity:0.5;*/

    }


   /* #text_picture
    {
        color: cornsilk;
        left: 20px;
        right: 15px;

    }

*/
   /* .home{
        width: 400px;
        height: 700px;
    }

 */


  .text
  {
    
    position: absolute;
    
      color: white;
      width: 400px;
      height: 700px;
      
      text-align: center;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: 10;
      left: 20%;

  }

  .text:hover  {
      opacity: 1;
      
  }

.home
{
    
    z-index: 1;
}

.home:hover{
    filter: brightness(200%)
}
